     <% include ../views/header %>
     
         <h1 style="margin-left:8%">Contact: Samed Cansın</h1>
<hr>
<div style="margin-left:8%">
<label>GSM: +1 437 998 66 55</label><br>
<label>Email: <a href="mailto:samedcansin@gmail.com" target="_blank">samedcansin@gmail.com</a></label><br>
<label>Linked-in: <a href="https://www.linkedin.com/in/8b527916a/" target="_blank">https://www.linkedin.com/in/8b527916a/</a></label><br>
<label>FaceBook: <a href="https://www.facebook.com/profile.php?id=100027982030780" target="_blank">https://www.facebook.com/profile.php?id=100027982030780</a></label><br>
</div>
</body>
</html>
