     <% include ../views/header %>

<form method="POST" action="" style="margin-left:8%">
<h1>Registration Form</h1>

<label><input type="text" name="username" value="" placeholder="Username" required="required" style="margin-bottom:5px"></label>
<br>
<label><input type="password" name="password" value="" placeholder="Password"  required="required" style="margin-bottom:5px"></label>
<br>

<button type="submit" class="btn btn-default btn-sm">REGISTER USER RIGHT NOW</button>
</form>
</body>
</html>